<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.5/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.5/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.5/js/uikit-icons.min.js"></script>
<% unless @res.nil? %>
    <% if @res["status"] == "Success" %>
      <div class="uk-alert-success">
        <a class="uk-alert-close" uk-close></a>
        <%= @res["msg"] %>
      </div>
    <% else %>
      <div class="uk-alert-danger" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <%= @res["msg"] %>
      </div>
    <% end %>
<% end %>

<h1>Initialize Blockchain</h1>
<%= csrf_meta_tags %>
<div class="uk-margin-left">
  <div class="uk-inline">
    <%= form_tag('/initDist', method: :post) do %>
      <label for="target">First Possessor</label>
      <%= collection_select(:user, :user_name, User.where.not(user_name: @current_user.user_name), :user_name, :user_name, {}, {class: "uk-select uk-margin-bottom"}) %>
      <label for="amount">Amount</label>
      <%= number_field_tag :amount, '', size: 30, class: "uk-input uk-margin-bottom" %>
      <br>
      <%= submit_tag 'Initialize' , class: "uk-button uk-button-primary" %>
    <% end %>
  </div>
</div>
