<h1>Initialize BlockChain</h1>
<%= csrf_meta_tags %>
<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name %>">
    <a class="close" data-dismiss="alert">×</a>
    <%= msg %>
  </div>
<% end %>
<%= form_tag('/initDist', method: :post) do %>
  <%# ここはリスト表示 %>
  <label for="target">First Possessor</label>
  <%= text_field_tag :target, '', size: 30 %>
  <label for="amount">Amount</label>
  <%= number_field_tag :amount, '', size: 30 %>
  <br>
  <%= submit_tag 'Initialize' %>

<% end %>

<%= link_to 'Back', users_path %>
