<h1>Send Token</h1>
<%= csrf_meta_tags %>
<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name %>">
    <a class="close" data-dismiss="alert">×</a>
    <%= msg %>
  </div>
<% end %>
<div>
  <%= @current_user.user_name %>'s Possession:<%= @amount %> tBC
</div>
<%= form_tag('/sendToken', method: :post) do %>
  <%# ここはリスト表示 %>
  <label for="target">To</label>
  <%= text_field_tag :target, '', size: 30 %>
  <label for="amount">Amount</label>
  <%= number_field_tag :amount, '', size: 10 %>
  <label for="comment">Comment</label>
  <%= text_field_tag :comment, '', size: 30 %>
  <br>
  <%= submit_tag 'Transfer' %>
<% end %>
<button class="uk-button uk-button-default"><%= link_to 'Back', users_path %></button>
