<!DOCTYPE html>
<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.5/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.5/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.5/js/uikit-icons.min.js"></script>

<html>
  <head>
    <title>TbcLite</title>
    <%= csrf_meta_tags %>
    <% if @current_user != nil %>
      <nav class="uk-navbar-container uk-margin" uk-navbar>
      <div class="uk-navbar-left">
          <a class="uk-navbar-item uk-logo" href="http://localhost:3000/home">tBC Lite</a>
            <ul class="uk-navbar-nav">
              <li>
                  <a href="http://localhost:3000/home">
                      <span class="uk-icon uk-margin-small-right"></span>
                      ALL BLOCKS
                  </a>
              </li>
              <li>
                  <a href="http://localhost:3000/sendToken">
                      <span class="uk-icon uk-margin-small-right"></span>
                      SEND TOKEN
                  </a>
              </li>
              <li>
                  <a href="http://localhost:3000/initDist">
                      <span class="uk-icon uk-margin-small-right"></span>
                      INITIALIZE
                  </a>
              </li>
              <li>
                  <a href="http://localhost:3000/users">
                      <span class="uk-icon uk-margin-small-right"></span>
                      ADMIN
                  </a>
              </li>
              <li>
                  <a href="http://localhost:3000/logout">
                      <span class="uk-icon uk-margin-small-right"></span>
                      LOGOUT
                  </a>
              </li>
            </ul>
        </div>
        <div class="uk-navbar-right">
          <ul class="uk-navbar-nav">
            <li>
              <span class="uk-icon uk-margin-right"><%= "LOGIN:" + @current_user.user_name %></span>
              <br>
              <span class="uk-icon uk-margin-right"><%= @amount.to_s + " tBC" %></span>
            </li>
          </ul>        
        </div>
      </nav>
    <% end %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
